
LEAP_DB_Web/.vs/LEAP_DB_Web/FileContentIndex/64bfbde6-fdfe-4730-aa08-f59f99afdd24.vsidx

*.vsidx

LEAP_DB_Web/.vs/LEAP_DB_Web/v17/.suo

LEAP_DB_Web/.vs/LEAP_DB_Web/v17/

LEAP_DB_Web/bin/Debug/net6.0/

*.v2

LEAP_DB_Web/obj/Debug/net6.0/LEAP_DB_Web.csproj.CoreCompileInputs.cache

LEAP_DB_Web/obj/Debug/net6.0/LEAP_DB_Web.dll

LEAP_DB_Web/obj/Debug/net6.0/LEAP_DB_Web.GeneratedMSBuildEditorConfig.editorconfig

LEAP_DB_Web/obj/Debug/net6.0/LEAP_DB_Web.pdb

LEAP_DB_Web/obj/Debug/net6.0/project.razor.vs.json

LEAP_DB_Web/obj/Debug/net6.0/ref/LEAP_DB_Web.dll

LEAP_DB_Web/obj/Debug/net6.0/refint/LEAP_DB_Web.dll

LEAP_DB_Web/obj/staticwebassets.pack.sentinel
