@page
@model LEAP_DB_Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .grid { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        place-items: center;
        background-color:white;
    }
    .grid > article {
        border: 1px solid white;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }
    .grid > article img {
        max-width: 100%;
    }
    .text {
        padding: 0 20px 20px;
    }
    .text > button {
        background: gray;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;
    }
    .card {
        border: none;
    }

    .btn, btn-primary {
        background: #cc4e0b;
        border: #cc4e0b;
        width: 120px;
        align-self: center;
    }

    a.hover {
        background-color: #050a30;
        transition: 0.3s;
    }

    .jumbotron {
        background: #050a30;
        color: white;
    }
    .footer{display:none !important}
</style>

<!--Welcome banner for the user-->
<div class="jumbotron">
    <h1 class="display-4" style="text-align: center">Welcome back, User!</h1>
    <p class="lead" style="text-align: center">Click panels to get started with LEAP Database Administration!</p>
    <hr class="my-4">
    <p align="center">Navigate to our website for official information and student content.</p>
    <div align="center">
        <p class="lead">
            <a class="btn btn-primary btn-lg text-center" href="https://leap-au.azurewebsites.net/" role="button">LEAP Web</a>
        </p>
    </div>
</div>

<!--Card Grid listing the different navigation options-->
<main class="grid">
    
    <!--Roster Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/classLogo.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Roster</h5>
            <p class="card-text">Add, update, or delete your current roster. </p>
            <a href="/RosterPage" class="btn btn-primary">Go!</a>
        </div>
    </div>

    <!--Registration Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/newRoster.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Registration</h5>
            <p class="card-text">Add, update, or delete users from the system.</p>
            <a href="/RegistrationPage" class="btn btn-primary">Go!</a>
        </div>
    </div>

    <!--Modules Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/modulesLogo.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Modules</h5>
            <p class="card-text">Add, update, or delete modules for your students.</p>
            <a href="/ModulePage" class="btn btn-primary">Go!</a>
        </div>
    </div>

    <!--Student Maintenance Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/newActivities.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Student Maintenance</h5>
            <p class="card-text">Click here to view an individual student's' progress.</p>
            <a href="/StudentMaintenance" class="btn btn-primary">Go!</a>
        </div>
    </div>

    <!--Contact Us Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/contactUsLogo.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Contact Us</h5>
            <p class="card-text">Send an email showing your student reports and more.</p>
            <a href="/ContactPage" class="btn btn-primary">Go!</a>
        </div>
    </div>

    <!--Logout Card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="logos/exit.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold">Sign Out</h5>
            <p class="card-text">Exit out of LEAP Database Administration.</p>
            <a href="/Index" class="btn btn-primary">Log Out</a>
        </div>
    </div>
</main>


