@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!--Contact Us Button-->
<div>
    <form action="/Login/ContactPage">
    <button class="contactUs">Contact Us</button>
    </form>
</div>

<!--Help Button-->
<div>
    <button class="help">Help</button>
</div>

<!--Help Button-->
<div class="text-center">
    <img src="logos/Leap and Learn Center Logo - tagline - trans bg - png .png" alt="LEAP Logo" style="margin-top: -75px"/>
    <h1 class="headerText"
    >LEAP Database Administration</h1>
    <hr style = "color: #050a30"/>
</div>

<div>
    <div class="textFields">
        
        <!--User name Field-->
        <div>
            <label style="font-size: 35px; color: #050a30; font-weight: 500;">Username: </label>
            <input type="text" name="Username" class="inputFields">
        </div>
        
        <!--Password Field-->
        <div style="padding: 10px;">
            <label style="font-size: 37px; color: #050a30; font-weight: 500;">Password: </label>
            <input type="password" name="Password" class="inputFields">
        </div>
        
        <!--Login button-->
        <form action="/Dashboard/Dashboard">
            <button type="submit" class="loginButton">Login</button>
        </form>
        
        <!--Forgot Password Link-->
        <p>
            <a href="/ConfigPages/ForgotPasswordPage">
                Forgot Password?
            </a>
        </p>
    </div>
</div>

<!--Footer element-->
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; Auburn University 2022
    </div>
</footer>