@page
@model LEAP_DB_Web.Pages.ModulePageModel
@{
    ViewData["Title"] = "Modules";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Dashboard">Home</a>
        </div>
    </nav>
</header>

<div>
    <h1 style="text-align: center">Module Name</h1>
    <h6 style="text-align: right">@DateTime.Now</h6>
</div>

<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="size">Number of Modules:</label>
            <select class="form-control" id="size">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select> 
        </div>
        <div><br />
            <label>Activity Name:</label>
            <input type="email" class="form-control">
        </div> 
        <br /><div class="form-group">
            <label for="size">Activity Type:</label>
            <select class="form-control" id="size">
                <option>Assignment</option>
                <option>Discussion Board</option>
                <option>Quiz</option>
            </select>
        </div>
    </form>



    <form class="form-inline">
        <div class="form-group"><br />
            <label for="size">Activity Subject:</label>
            <select class="form-control" id="size">
                <option>Numbers</option>
                <option>Ratios & Proportional Relationships</option>
                <option>Geometry</option>
                <option>Expressions & Equations</option>
                <option>Probability</option>
            </select>
        </div>
    </form>

</div>
        <p class="formfield"><br />
            <label>Activity Description</label>
            <textarea id="textarea" rows="5" style="width: 350px;"></textarea>
        </p>
        
        <div><br />
            <label>Pass/Fail Indicator:</label>
            <input/>
        </div>
<div><br />
    <label>Added Date: MM/DD/YYYY</label>
</div>
<div align="center">
    <button type="submit" class="btn btn-primary loginButton" style="margin-top: 100px;">Submit</button>
</div>
