@page
@model LEAP_DB_Web.Pages.RosterPageModel
@{
    ViewData["Title"] = "Roster";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Dashboard">Home</a>
        </div>
    </nav>
</header>

<div>
    <h6 style="text-align: right">@DateTime.Now</h6>
    <h1 style="text-align: center;">@ViewData["Title"]</h1>
</div>

<form>
    <div class="form-group">
        <label for="exampleFormControlFile1">Select Roster (.csv)</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" accept=".csv">
    </div>
</form>