@page
@model LEAP_DB_Web.Pages.ConfigPages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<!--Styling for the jumbotron-->
<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        place-items: center;
        background-color: white;
    }

    .grid > article {
        border: 1px solid white;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    }

    .grid > article img {
        max-width: 100%;
    }

    .text {
        padding: 0 20px 20px;
    }

    .text > button {
        background: gray;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;
    }

    .card {
        border: none;
    }

    .btn, btn-primary {
        background: #cc4e0b;
        border: #cc4e0b;
        width: 120px;
        align-self: center;
    }

    a.hover {
        background-color: #050a30;
        transition: 0.3s;
    }

    .jumbotron {
        background: #050a30;
        color: white;
    }

    .footer {
        display: none !important
    }
</style>

<!--Header leading back to login screen-->
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Return to Login Screen</a>
        </div>
    </nav>
</header>

<!--Forgot Password Jumbotron -->
<div class="jumbotron text-center">
    <!--Header-->
    <h1 class="display-4" style="text-align: center">Reset Your Password</h1>
    <p class="lead" style="text-align: center">Lost your password? Enter your email below and receive a link to create a new password via email.</p>
    <hr class="my-4">
    
    <!--Email input-->
    <input type="email" class="form-control" style="margin-bottom: 25px">
    <div align="center">
        <p class="lead">
            <a class="btn btn-primary btn-lg text-center" role="button">Send Email</a>
        </p>
    </div>
</div>
