@page
@model LEAP_DB_Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<style>
    /* JUMBOTRON STYLE HERE */
    .jumbotron{
        background: 
                  linear-gradient(
                                 rgba(0, 0, 250, 0.25), 
                                 rgba(125, 250, 250, 0.45)
),
                  url(https://source.unsplash.com/1600x1050/?computer+screen);
        background-repeat: no-repeat;
        background-attachment: fixed;
        color:white !important;
        height:100vh;
        width: 100%;
    }

    /* BUTTON STYLE HERE */
    .btn{
        margin-right:10px;
    }
    .btn-outline-primary{
        border-color: white;
        color:white;
        background-color:transparent;
        margin-top:30px;
        font-weight:100;
    }
    .btn-outline-primary:hover{
        border-color: transparent;
        color:black;
        background-color:white;
    }
    .btn-outline-primary:active{
        border-color: transparent;
        color:black;
        background-color:white;
        padding:9px 20px 9px 20px;
    }

    /* BUTTON HEADER RIGHT */
    .rightHeader{
        position: absolute;
        top: -15px;
        right: 8px;
    }
    /* BUTTON HEADER LEFT */
    .leftHeader{
        position: absolute;
        top: -15px;
        left: 20px;
    }

    .title{
        margin-top:10vh;
    }
    .text_margin{
        width:70vw;
        margin: 0 auto;
    }
    .string-1{
        padding-top:30px;
        width:600px;
        margin:0 auto;
        font-weight:100;
        margin-top:-35px;
    }


    .content{
        margin:10%;
    }
    br{
        margin:20px;
    }
</style>

<!--Welcome banner for the user-->
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="title display-3 text-center" style="font-weight:100;">Welcome Back,<strong style="font-weight:600;">User!</strong></h1>
            <p class="lead string-1 text-center">Navigate to our website for official information and student content.</p>
        </div>

        <div align="center">
            <a href="https://leap-au.azurewebsites.net/"><button class="btn btn-outline-primary">Visit LEAP</button></a>
        </div>
    </div>
</div>

<!--Card Grid listing the different navigation options-->
<main class="grid">
    
    <!--Roster Card-->
    <div class="card-grid-space">
        <a class="card" href="/Roster/RosterPage" style="--bg-img: url(https://www.talentproindia.com/wp-content/uploads/2020/11/How-Does-the-Attendance-Management-System-Help-the-Employees.jpg)">
            <div>
                <h1>Roster</h1>
                <p>Add, update, or delete your current roster.</p>
            </div>
        </a>
    </div>

    <!--Registration Card-->
    <div class="card-grid-space">
        <a class="card" href="/Registration/RegistrationPage" style="--bg-img: url(https://b24b1e3aab831184e7b0-2d3a122b6f92d6181afe6099b19e3c72.ssl.cf1.rackcdn.com/article/image/large_07044846-c03b-4ad8-8c0b-e391d56bbb66.jpg)">
            <div>
                <h1>Registration</h1>
                <p>Add, update, or delete users from the system.</p>
            </div>
        </a>
    </div>

    <!--Modules Card-->
    <div class="card-grid-space">
        <a class="card" href="/Modules/ModulePage" style="--bg-img: url(https://myviewboard.com/blog/wp-content/uploads/2020/08/MP0027-01-scaled.jpg)">
            <div>
                <h1>Modules</h1>
                <p>Add, update, or delete modules for your students.</p>
            </div>
        </a>
    </div>

    <!--Student Maintenance Card-->
    <div class="card-grid-space">
        <a class="card" href="/StudentMaintenance/StudentMaintenance" style="--bg-img: url(https://online.visual-paradigm.com/repository/images/4e40244e-900f-431f-ac33-253a07bd29b7/progress-design/adjusting-progress.png)">
            <div>
                <h1>Student Maintenance</h1>
                <p>Click here to view an individual student's progress.</p>
            </div>
        </a>
    </div>

    <!--Report Services Card-->
    <div class="card-grid-space">
        <a class="card" href="/Reports/ReportsPage" style="--bg-img: url(https://contenthub-static.grammarly.com/blog/wp-content/uploads/2021/12/how-to-write-a-report.jpeg)">
            <div>
                <h1>Reports</h1>
                <p>Download and share your student's academic record.</p>
            </div>
        </a>
    </div>

    <!--Logout Card-->
    <div class="card-grid-space">
        <a class="card" href="/Index" style="--bg-img: url(https://blog.darwinbox.com/hubfs/Imported_Blog_Media/Exit-Management.jpg)">
            <div>
                <h1>Sign Out</h1>
                <p>Exit out of LEAP Database Administration.</p>
            </div>
        </a>
    </div>
</main>